nav 
    span 
        a(href="/") Home 
    span 
        a(href="/about") About
    span 
        a(href="/menu1") Menu1
    span 
        a(href="/menu2") Menu2
    
    div(class="left-decoration")
    div(class="right-decoration")